<!--
<div ng-include="'tpl/header.html'"></div>
-->
<div class="navbar navbar-inverse">
  <div class="metro">
    <!--头部（logo+按钮）-->
    <div class="navbar-header">
      <a class=" navbar-brand" href="#/index">
        <span class="glyphicon glyphicon-menu-left"></span>
        上海地铁线路图
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#my-metro">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="my-metro" class="collapse navbar-collapse">
      <!-- TODO 导航组件 -->
      <ul class="nav navbar-nav">
        <li class="active dropdown">
          <a class="drop_link dropdown-toggle" data-toggle="dropdown">
            菜单
            <span class="caret"></span>
          </a>
          <!-- TODO 选项列表-->
          <ul class="dropdown-menu list-group">
            <li class="list-group-item">
              地铁资讯
              <span class="badge">66</span>
            </li>
            <li><a href="#" class="list-group-item">热点话题</a></li>
            <li><a href="#" class="list-group-item">用户</a></li>
            <li>
              <a href="#" class="list-group-item">暑期指南</a>
            </li>
            <li><a href="#" class="list-group-item">交通换乘</a></li>
            <li>
              <a href="#" class="list-group-item">关于地铁</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <!--  TODO 导航条中的导航组件作为容器 -->
      <ul class="nav navbar-nav navbar-right">
        <!-- TODO 简体中文按钮 -->
        <li>
          <span class="lang_chinese">China(简体中文)</span>
        </li>
        <li>
          <!-- TODO 登录按钮 -->
          <a data-toggle="dropdown">登录</a>
          <!-- TODO 登录表单-->
          <div class="dropdown-menu">
            <!-- TODO 面板 -->
            <div class="panel">
              <div class="panel-body text-center">
                <h3>登录</h3>
                <form>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="用户名"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="密码"/>
                  </div>
                  <p>您登录就表明您同意我们的服务条款</p>
                  <button class="btn btn-danger">登录</button>
                </form>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <form class="navbar-form navbar-right">
        <!-- 查询 -->
        <p class="form-control-static search_text">查找内容|</p>
        <!-- 搜索 -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索"/>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="metro">
  <div class="row r-1">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <button type="button" class="btn btn-success btn-lg" id="startBtn" >请选择起始站</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <button type="button" class="btn btn-warning btn-lg" id="endBtn">请选择终点站</button>
    </div>

    <div class="col-xs-12 search">
      <button type="button" class="btn btn-lg btn-success" id="search">搜索</button>
    </div>
  </div>
  <div class="row r-2">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(1)" class="btn btn-info btn-sm" id="b-0" style="background-color: #CC0000;border-color: #CC0000">1号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(2)" class="btn btn-success btn-sm " id="b-1" >2号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(3)" class="btn btn-info btn-sm" id="b-2" style="background-color: #F9E103;border-color: #F9E103">3号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(4)" class="btn btn-info btn-sm" id="b-3" style="background-color: #660066;border-color: #660066">4号线</button>
        </div>
      </div>

    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(5)" class="btn btn-info btn-sm" id="b-4" style="background-color: #CC00CC;border-color: #CC00CC">5号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(6)" class="btn btn-info btn-sm" id="b-5" style="background-color: #FF3265;border-color: #FF3265">6号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(7)" class="btn btn-info btn-sm" id="b-6" style="background-color: #FF7F00;border-color: #FF7F00">7号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(8)" class="btn btn-info btn-sm" id="b-7" style="background-color: #660066;border-color: #660066">8号线</button>
        </div>
      </div>

    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(9)" class="btn btn-info btn-sm" id="b-8" style="background-color: #95D3DB;border-color: #95D3DB">9号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(10)" class="btn btn-info btn-sm" id="b-9" style="background-color: #C9A7D5;border-color: #C9A7D5">10号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(11)" class="btn btn-info btn-sm" id="b-10" style="background-color: #800000;border-color: #800000">11号线</button>
        </div>
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(12)" class="btn btn-info btn-sm" id="b-11" style="background-color: #017B60;border-color: #017B60">12号线</button>
        </div>
      </div>

    </div>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3">
          <button type="button" ng-click="loadData(13)" class="btn btn-info btn-sm" id="b-12" style="background-color: #E290B6;border-color: #E290B6">13号线</button>
        </div>

        <div class="col-xs-3">
          <button type="button" ng-click="loadData(16)" class="btn btn-info btn-sm" id="b-13" style="background-color: #71DAD6;border-color: #71DAD6">16号线</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="metro">
  <div class="row">
    <div class="col-xs-12 b-0" style="display:none">
      <!--我是1号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#c00;">
          <div class="wrap">
            <strong><a href="" >上海地铁1号线</a></strong>
          </div>
        </div>
        <div class="line-list-body">
          <div class="line-list-station">

            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-223 ">
                <span class="dot d-223"></span>
              </div>
              <a ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 b-1" style="display:none">
      <!--我是2号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#090;">
          <div class="wrap">
            <strong><a href="" >上海地铁2号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-224 ">
                <span class="dot d-224"></span>
              </div>
              <a ng-click="loadID(data.did )" class="link  {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 b-2" style="display:none">
      <!--我是3号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#f9e103;">
          <div class="wrap">
            <strong><a href="" >上海地铁3号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-225 ">
                <span class="dot d-225"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-3" style="display:none">
      <!--我是4号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#606;">
          <div class="wrap">
            <strong><a href="" >上海地铁4号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-226 ">
                <span class="dot d-226"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-4" style="display:none">
      <!--我是5号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#c0c;">
          <div class="wrap">
            <strong><a href="" >上海地铁5号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-227 ">
                <span class="dot d-227"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-5" style="display:none">
      <!--我是6号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#ff3265;">
          <div class="wrap">
            <strong><a href="" >上海地铁6号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-228 ">
                <span class="dot d-228"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-6" style="display:none">
      <!--我是7号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#FF7F00;">
          <div class="wrap">
            <strong><a href="" >上海地铁7号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-229 ">
                <span class="dot d-229"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-7" style="display:none">
      <!--我是8号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#06c;">
          <div class="wrap">
            <strong><a href="" >上海地铁8号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-230 ">
                <span class="dot d-230"></span>
              </div>
              <a  ng-click="" class="link 1" >qqqq</a>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-xs-12 b-8" style="display:none">
      <!--我是9号线-->
      <div class="line-list">
        <div class="line-list-heading" style="background:#95d3db;">
          <div class="wrap">
            <strong><a href="" >上海地铁9号线</a></strong>

          </div>

        </div>
        <div class="line-list-body">
          <div class="line-list-station">


            <div class="station" ng-repeat="data in datas track by $index">
              <div class="line-h line-h-231 ">
                <span class="dot d-231"></span>
              </div>
              <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

      </div>

    </div>

  <div class="col-xs-12 b-9" style="display:none">
    <!--我是10号线-->
    <div class="line-list">
      <div class="line-list-heading" style="background:#c9a7d5;">
        <div class="wrap">
          <strong><a href="" >上海地铁10号线</a></strong>

        </div>

      </div>
      <div class="line-list-body">
        <div class="line-list-station">


          <div class="station" ng-repeat="data in datas track by $index">
            <div class="line-h line-h-232 ">
              <span class="dot d-232"></span>
            </div>
            <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 b-10" style="display:none">
    <!--我是11号线-->
    <div class="line-list">
      <div class="line-list-heading" style="background:maroon;">
        <div class="wrap">
          <strong><a href="" >上海地铁11号线</a></strong>

        </div>

      </div>
      <div class="line-list-body">
        <div class="line-list-station">


          <div class="station" ng-repeat="data in datas track by $index">
            <div class="line-h line-h-233 ">
              <span class="dot d-233"></span>
            </div>
            <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 b-11" style="display:none">
    <!--我是12号线-->
    <div class="line-list">
      <div class="line-list-heading" style="background:#017b60;">
        <div class="wrap">
          <strong><a href="" >上海地铁12号线</a></strong>

        </div>

      </div>
      <div class="line-list-body">
        <div class="line-list-station">


          <div class="station" ng-repeat="data in datas track by $index">
            <div class="line-h line-h-234 ">
              <span class="dot d-234"></span>
            </div>
            <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 b-12" style="display:none">
    <!--我是13号线-->
    <div class="line-list">
      <div class="line-list-heading" style="background:#e290b6;">
        <div class="wrap">
          <strong><a href="" >上海地铁13号线</a></strong>

        </div>

      </div>
      <div class="line-list-body">
        <div class="line-list-station">


          <div class="station" ng-repeat="data in datas track by $index">
            <div class="line-h line-h-235 ">
              <span class="dot d-235"></span>
            </div>
            <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 b-13" style="display:none">
    <!--我是16号线-->
    <div class="line-list">
      <div class="line-list-heading" style="background:#71dad6;">
        <div class="wrap">
          <strong><a href="" >上海地铁16号线</a></strong>

        </div>

      </div>
      <div class="line-list-body">
        <div class="line-list-station">


          <div class="station" ng-repeat="data in datas track by $index">
            <div class="line-h line-h-239 ">
              <span class="dot d-239"></span>
            </div>
            <a  ng-click="loadID(data.did )" class="link {{ data.did }}" >{{ data.transitionName }}</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
<!-- 底部导航条-->

<div class="metro bottomNavbar navbar-fixed-bottom navbar-inverse">
  <div class="row">
    <div class="col-xs-4 text-center text-align">
      <a href="#/index">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a href="#/index">
        <span class="glyphicon glyphicon glyphicon-user"></span>
      </a>
    </div>
    <div class="col-xs-4 text-center dropup">
      <a class="glyphicon glyphicon glyphicon-th-list" data-toggle="dropdown">
        <span>地铁资讯</span>
      </a>
      <ul class="dropdown-menu">
            <li><a href="#" class="alert alert-info">上海新闻</a></li>
            <li><a href="#" class="alert alert-danger">在线充值</a></li>
            <li><a href="#" class="alert alert-success">换乘须知</a></li>
            <li><a href="#" class="alert alert-warning">公交指南</a></li>
            <li><a href="#" class="alert alert-info">路线查询</a></li>
      </ul>
    </div>
  </div>
</div>


