
.dot {
  background:url(../img/ldot.gif) no-repeat;
  width:20px;
  height:20px;
  display:block;
  background-position:-18px -240px;
}
.d-197,.d-33,.d-34 {
  background-position:0 0
}
.d-211 {
  background-position:0 -30px
}
.d-199 {
  background-position:0 -60px
}
.d-209,d-83 {
  background-position:0 -429px
}
.d-200 {
  background-position:0 -90px
}
.d-201 {
  background-position:0 -301px
}
.d-212 {
  background-position:0 -120px
}
.d-202 {
  background-position:0 -150px
}
.d-204 {
  background-position:0 -180px
}
.d-208 {
  background-position:0 -210px
}
.d-198 {
  background-position:0 -270px
}
.d-207 {
  background-position:-40px -240px
}
.d-206 {
  background-position:-40px -210px
}
.d-205 {
  background-position:-40px -300px
}
.d-dx {
  background-position:0 -270px
}
.d-203 {
  background-position:-40px -330px
}
.d-210 {
  background-position:-21px -744px
}
.d-254 {
  background-position:-21px -744px
}
.d-223 {
  background-position:-18px 0
}
.d-224,.d-256 {
  background-position:-18px -30px
}
.d-225 {
  background-position:-18px -60px
}
.d-226 {
  background-position:-18px -90px
}
.d-227 {
  background-position:-18px -120px
}
.d-228 {
  background-position:-18px -150px
}
.d-230 {
  background-position:-18px -180px
}
.d-231 {
  background-position:-18px -210px
}
.d-236 {
  background-position:-18px -240px
}
.d-229 {
  background-position:-18px -270px
}
.d-233, .d-238 {
  background-position:-18px -300px
}
.d-235 {
  background-position:-18px -330px
}
.d-232, .d-237 {
  background-position:-18px -360px
}
.d-234 {
  background-position:0 -90px
}
.d-239 {
  background-position:0 -270px
}
.d-213 {
  background-position:-40px 0
}
.d-214 {
  background-position:-40px -30px
}
.d-215 {
  background-position:-40px -60px
}
.d-217 {
  background-position:-40px -90px
}
.d-218 {
  background-position:-40px -120px
}
.d-220 {
  background-position:-40px -150px
}
.d-221 {
  background-position:-40px -180px
}
.d-222 {
  background-position:-39px -360px
}
.d-216 {
  background-position:-40px -60px
}
.d-219 {
  background-position:0 -60px
}
.d-1, .d-1zx {
  background-position:0 -624px
}
.d-2 {
  background-position:-40px -648px
}
.d-192 {
  background-position:-40px -90px
}
.d-193 {
  background-position:0 -150px
}
.d-194 {
  background-position:0 -120px
}
.d-195 {
  background-position:-20px 0
}
.d-196 {
  background-position:-20px -90px
}
.d-4 {
  background-position:0 -456px
}
.d-5 {
  background-position:-20px -456px
}
.d-1ny {
  background-position:0 -456px
}
.d-66 {
  background-position:-41px -576px
}
.d-59 {
  background-position:-41px -623px
}
.d-67 {
  background-position:-18px -270px
}
.d-13 {
  background-position:0 -480px
}
.d-14 {
  background-position:-20px -480px
}
.d-252 {
  background-position:0 -480px
}
.d-20 {
  background-position:0 -504px
}
.d-21 {
  background-position:-21px -505px
}
.d-22 {
  background-position:0 -528px
}
.d-23 {
  background-position:-21px -528px
}
.d-gb {
  background-position:0 -768px
}
.d-15 {
  background-position:0 -552px
}
.d-16, .d-17 {
  background-position:-21px -552px
}
.d-18 {
  background-position:0 -575px
}
.d-19 {
  background-position:-21px -575px
}
.d-10 {
  background-position:0 -600px
}
.d-11 {
  background-position:-21px -600px
}
.d-8 {
  background-position:-21px -624px
}
.d-9 {
  background-position:0 -648px
}
.d-48 {
  background-position:0 -301px
}
.d-12 {
  background-position:-21px -648px
}
.d-117 {
  background-position:0 -456px
}
.d-3 {
  background-position:0 -672px
}
.d-kg {
  background-position:-21px -672px
}
.d-bsq {
  background-position:0 -672px
}
.d-9zx {
  background-position:-21px -672px
}
.d-27 {
  background-position:0 -696px
}
.d-28 {
  background-position:-21px -697px
}
.d-90 {
  background-position:0 -672px
}
.d-25 {
  background-position:0 -720px
}
.d-180 {
  background-position:-21px -429px
}
.d-45 {
  background-position:-21px -768px
}
.d-24 {
  background-position:-20px -397px
}
.d-46 {
  background-position:-39px -397px
}
.d-26 {
  background-position:0 -744px
}
.d-123, .d-173 {
  background-position:-40px -480px
}
.d-134 {
  background-position:-41px -504px
}
.d-142 {
  background-position:-40px -528px
}

.d-253 {
  background-position: 0 -429px;
}

.line-h {
  width:100%;
  z-index:1;
  height:19px;
  background:url(../img/lvl_h.gif) repeat-x;
  background-position:0 -320px;
}
.line-h-197,.line-h-33,.line-h-34 {
  background-position:0 0
}
.line-h-211 {
  background-position:0 -15px
}
.line-h-199 {
  background-position:0 -30px
}
.line-h-209,.line-h-83 {
  background-position:0 -671px
}
.line-h-200 {
  background-position:0 -45px
}
.line-h-201 {
  background-position:0 -591px
}
.line-h-212 {
  background-position:0 -60px
}
.line-h-202 {
  background-position:0 -75px
}
.line-h-204 {
  background-position:0 -90px
}
.line-h-208 {
  background-position:0 -105px
}
.line-h-198 {
  background-position:0 -120px
}
.line-h-207 {
  background-position:0 -521px
}
.line-h-206 {
  background-position:0 -507px
}
.line-h-205 {
  background-position:0 -548px
}
.line-h-dx {
  background-position:0 -120px
}
.line-h-203 {
  background-position:0 -562px
}
.line-h-210 {
  background-position:0 -1059px
}
.line-h-254 {
  background-position:0 -1059px
}
.line-h-223 {
  background-position:0 -200px
}
.line-h-224,.line-h-256 {
  background-position:0 -215px
}
.line-h-225 {
  background-position:0 -230px
}
.line-h-226 {
  background-position:0 -245px
}
.line-h-227 {
  background-position:0 -260px
}
.line-h-228 {
  background-position:0 -275px
}
.line-h-230 {
  background-position:0 -290px
}
.line-h-231 {
  background-position:0 -305px
}
.line-h-236 {
  background-position:0 -320px
}
.line-h-229 {
  background-position:0 -335px
}
.line-h-233, .line-h-238 {
  background-position:0 -350px
}
.line-h-235 {
  background-position:0 -365px
}
.line-h-232, .line-h-237 {
  background-position:0 -380px
}
.line-h-234 {
  background-position:0 -45px
}
.line-h-239 {
  background-position:0 -120px
}
.line-h-213 {
  background-position:0 -400px
}
.line-h-214 {
  background-position:0 -415px
}
.line-h-215 {
  background-position:0 -430px
}
.line-h-217 {
  background-position:0 -445px
}
.line-h-218 {
  background-position:0 -461px
}
.line-h-220 {
  background-position:0 -477px
}
.line-h-221 {
  background-position:0 -492px
}
.line-h-216 {
  background-position:0 -430px
}
.line-h-222 {
  background-position:0 -575px
}
.line-h-219 {
  background-position:0 -30px
}
.line-h-1 {
  background-position:0 -894px
}
.line-h-2 {
  background-position:0 -1213px
}
.line-h-194 {
  background-position:0 -60px
}
.line-h-192 {
  background-position:0 -445px
}
.line-h-193 {
  background-position:0 -75px
}
.line-h-195 {
  background-position:0 -200px
}
.line-h-196 {
  background-position:0 -245px
}
.line-h-4 {
  background-position:0 -686px
}
.line-h-5 {
  background-position:0 -701px
}
.line-h-1ny {
  background-position:0 -686px
}
.line-h-66 {
  background-position:0 -1187px
}
.line-h-59 {
  background-position:0 -1201px
}
.line-h-67 {
  background-position:0 -335px
}
.line-h-13 {
  background-position:0 -730px
}
.line-h-14, .line-h-252 {
  background-position:0 -716px
}
.line-h-20 {
  background-position:0 -745px
}
.line-h-21 {
  background-position:0 -759px
}
.line-h-22 {
  background-position:0 -774px
}
.line-h-23 {
  background-position:0 -789px
}
.line-h-gb {
  background-position:0 -1073px
}
.line-h-15 {
  background-position:0 -804px
}
.line-h-16, .line-h-17 {
  background-position:0 -819px
}
.line-h-18 {
  background-position:0 -834px
}
.line-h-19 {
  background-position:0 -849px
}
.line-h-10 {
  background-position:0 -864px
}
.line-h-11, .line-h-95 {
  background-position:0 -879px
}
.line-h-8 {
  background-position:0 -909px
}
.line-h-9 {
  background-position:0 -924px
}
.line-h-48 {
  background-position:0 -591px
}
.line-h-12 {
  background-position:0 -939px
}
.line-h-117 {
  background-position:0 -686px
}
.line-h-3 {
  background-position:0 -954px
}
.line-h-kg {
  background-position:0 -969px
}
.line-h-bsq {
  background-position:0 -954px
}
.line-h-9zx {
  background-position:0 -969px
}
.line-h-27 {
  background-position:0 -984px
}
.line-h-28 {
  background-position:0 -999px
}
.line-h-90 {
  background-position:0 -1100px
}
.line-h-25 {
  background-position:0 -1014px
}
.line-h-45 {
  background-position:0 -1087px
}
.line-h-24 {
  background-position:0 -1122px
}
.line-h-46 {
  background-position:0 -1133px
}
.line-h-180 {
  background-position:0 -1146px
}
.line-h-26 {
  background-position:0 -1044px
}
.line-h-123 {
  background-position:0 -1111px
}
.line-h-134 {
  background-position:0 -1159px
}
.line-h-142 {
  background-position:0 -1172px
}
.line-h-253 {
  background-position:0 -671px
}

/*.line-v {*/
  /*z-index:1;*/
  /*background:url(../images/lvl_v.gif) repeat-y;*/
  /*background-position:-320px 0*/
/*}*/
/*.line-v-197,.line-v-33,.line-v-34 {*/
  /*background-position:0 0*/
/*}*/
/*.line-v-211 {*/
  /*background-position:-15px 0*/
/*}*/
/*.line-v-199 {*/
  /*background-position:-30px 0*/
/*}*/
/*.line-v-209,.line-v-83 {*/
  /*background-position:-671px 0*/
/*}*/
/*.line-v-200 {*/
  /*background-position:-45px 0*/
/*}*/
/*.line-v-201 {*/
  /*background-position:-591px 0*/
/*}*/
/*.line-v-212 {*/
  /*background-position:-60px 0*/
/*}*/
/*.line-v-202 {*/
  /*background-position:-75px 0*/
/*}*/
/*.line-v-204 {*/
  /*background-position:-90px 0*/
/*}*/
/*.line-v-208 {*/
  /*background-position:-105px 0*/
/*}*/
/*.line-v-198 {*/
  /*background-position:-120px 0*/
/*}*/
/*.line-v-207 {*/
  /*background-position:-521px 0*/
/*}*/
/*.line-v-206 {*/
  /*background-position:-506px 0*/
/*}*/
/*.line-v-205 {*/
  /*background-position:-548px 0*/
/*}*/
/*.line-v-dx {*/
  /*background-position:-120px 0*/
/*}*/
/*.line-v-203 {*/
  /*background-position:-562px 0*/
/*}*/
/*.line-v-210 {*/
  /*background-position:-1059px 0*/
/*}*/
/*.line-v-254 {*/
  /*background-position:-1059px 0*/
/*}*/
/*.line-v-223 {*/
  /*background-position:-200px 0*/
/*}*/
/*.line-v-224,.line-v-256 {*/
  /*background-position:-215px 0*/
/*}*/
/*.line-v-225 {*/
  /*background-position:-230px 0*/
/*}*/
/*.line-v-226 {*/
  /*background-position:-245px 0*/
/*}*/
/*.line-v-227 {*/
  /*background-position:-260px 0*/
/*}*/
/*.line-v-228 {*/
  /*background-position:-275px 0*/
/*}*/
/*.line-v-230 {*/
  /*background-position:-290px 0*/
/*}*/
/*.line-v-231 {*/
  /*background-position:-305px 0*/
/*}*/
/*.line-v-236 {*/
  /*background-position:-320px 0*/
/*}*/
/*.line-v-229 {*/
  /*background-position:-335px 0*/
/*}*/
/*.line-v-233, .line-v-238 {*/
  /*background-position:-350px 0*/
/*}*/
/*.line-v-235 {*/
  /*background-position:-365px 0*/
/*}*/
/*.line-v-232, .line-v-237 {*/
  /*background-position:-380px 0*/
/*}*/
/*.line-v-234 {*/
  /*background-position:-45px 0*/
/*}*/
/*.line-v-239 {*/
  /*background-position:-120px 0*/
/*}*/
/*.line-v-213 {*/
  /*background-position:-400px 0*/
/*}*/
/*.line-v-214 {*/
  /*background-position:-415px 0*/
/*}*/
/*.line-v-215 {*/
  /*background-position:-430px 0*/
/*}*/
/*.line-v-217 {*/
  /*background-position:-445px 0*/
/*}*/
/*.line-v-218 {*/
  /*background-position:-461px 0*/
/*}*/
/*.line-v-220 {*/
  /*background-position:-477px 0*/
/*}*/
/*.line-v-221 {*/
  /*background-position:-492px 0*/
/*}*/
/*.line-v-216 {*/
  /*background-position:-430px 0*/
/*}*/
/*.line-v-222 {*/
  /*background-position:-575px 0*/
/*}*/
/*.line-v-219 {*/
  /*background-position:-30px 0*/
/*}*/
/*.line-v-1 {*/
  /*background-position:-894px 0*/
/*}*/
/*.line-v-2 {*/
  /*background-position:-1213px 0*/
/*}*/
/*.line-v-194 {*/
  /*background-position:-60px 0*/
/*}*/
/*.line-v-192 {*/
  /*background-position:-445px 0*/
/*}*/
/*.line-v-193 {*/
  /*background-position:-75px 0*/
/*}*/
/*.line-v-195 {*/
  /*background-position:-200px 0*/
/*}*/
/*.line-v-196 {*/
  /*background-position:-245px 0*/
/*}*/
/*.line-v-4 {*/
  /*background-position:-686px 0*/
/*}*/
/*.line-v-5 {*/
  /*background-position:-701px 0*/
/*}*/
/*.line-v-1ny {*/
  /*background-position:-686px 0*/
/*}*/
/*.line-v-66 {*/
  /*background-position:-1187px 0*/
/*}*/
/*.line-v-59 {*/
  /*background-position:-1201px 0*/
/*}*/
/*.line-v-67 {*/
  /*background-position:-335px 0*/
/*}*/
/*.line-v-13 {*/
  /*background-position:-730px 0*/
/*}*/
/*.line-v-14, .line-v-252 {*/
  /*background-position:-716px 0*/
/*}*/
/*.line-v-20 {*/
  /*background-position:-745px 0*/
/*}*/
/*.line-v-21 {*/
  /*background-position:-759px 0*/
/*}*/
/*.line-v-22 {*/
  /*background-position:-774px 0*/
/*}*/
/*.line-v-23 {*/
  /*background-position:-789px 0*/
/*}*/
/*.line-v-gb {*/
  /*background-position:-1073px 0*/
/*}*/
/*.line-v-15 {*/
  /*background-position:-804px 0*/
/*}*/
/*.line-v-16, .line-v-17 {*/
  /*background-position:-819px 0*/
/*}*/
/*.line-v-18 {*/
  /*background-position:-834px 0*/
/*}*/
/*.line-v-19 {*/
  /*background-position:-849px 0*/
/*}*/
/*.line-v-10 {*/
  /*background-position:-864px 0*/
/*}*/
/*.line-v-11, .line-v-95 {*/
  /*background-position:-879px 0*/
/*}*/
/*.line-v-8 {*/
  /*background-position:-909px 0*/
/*}*/
/*.line-v-9 {*/
  /*background-position:-924px 0*/
/*}*/
/*.line-v-48 {*/
  /*background-position:-591px 0*/
/*}*/
/*.line-v-12 {*/
  /*background-position:-939px 0*/
/*}*/
/*.line-v-117 {*/
  /*background-position:-686px 0*/
/*}*/
/*.line-v-3 {*/
  /*background-position:-954px 0*/
/*}*/
/*.line-v-kg {*/
  /*background-position:-969px 0*/
/*}*/
/*.line-v-bsq {*/
  /*background-position:-954px 0*/
/*}*/
/*.line-v-9zx {*/
  /*background-position:-969px 0*/
/*}*/
/*.line-v-27 {*/
  /*background-position:-984px 0*/
/*}*/
/*.line-v-28 {*/
  /*background-position:-999px 0*/
/*}*/
/*.line-v-90 {*/
  /*background-position:-1099px 0*/
/*}*/
/*.line-v-25 {*/
  /*background-position:-1014px 0*/
/*}*/
/*.line-v-45 {*/
  /*background-position:-1087px 0*/
/*}*/
/*.line-v-24 {*/
  /*background-position:-1122px 0*/
/*}*/
/*.line-v-46 {*/
  /*background-position:-1133px 0*/
/*}*/
/*.line-v-180 {*/
  /*background-position:-1145px 0*/
/*}*/
/*.line-v-26 {*/
  /*background-position:-1044px 0*/
/*}*/
/*.line-v-123 {*/
  /*background-position:-1111px 0*/
/*}*/
/*.line-v-134 {*/
  /*background-position:-1159px 0*/
/*}*/
/*.line-v-142 {*/
  /*background-position:-1172px 0*/
/*}*/

/*.line-v-253 {*/
  /*background-position:-671px 0*/
/*}*/